DB_URL=

NAMESPACE_DISCORD=

DISCORD_GUILD_KEYBOARD_ID=
DISCORD_CATEGORY_CUSTOM_ID=
DISCORD_CATEGORY_NORMAL_KEYBOARD_ID=
DISCORD_CATEGORY_KEYCAP_ID=
DISCORD_CATEGORY_ARTISAN_ID=
DISCORD_CATEGORY_ETC_ID=
DISCORD_CHANNEL_PIC_VID_ID=
DISCORD_CHANNEL_INFO_REVIEW_ID=
DISCORD_CHANNEL_TRADE_REVIEW_ID=